.card-container {
    background-color: rgb(221, 175, 235);
    border-radius: 20px;
    width: 220px;
    height: 245px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-container p {
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
    /* background-color: aquamarine; */
}

.prompt {
    font-weight: bold;
    font-size: 17px;
    padding-top: 10px;
}

.card-info-container {
    background-color: white;
    height: 180px;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.answer {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.date {
    margin-top: 20px;
    font-size: 13px;
    color: grey;
}

.mood,
.energy {
    display: flex;
}

.more-space {
    margin-left: 10px;
}

.more-space2 {
    margin-left: 5px;
}

.checked {
    color: rgb(255, 217, 0);
}

.bolt {
    color: rgb(255, 217, 0);
}