.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    background-color: rgba(255, 255, 255, 0.692);
    border: 1px solid transparent;
    border-radius: 20px;
    width: 1000px;
    height: 800px;
}

.dashboard h2 {
    margin-left: 30px;
}

/* .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} */