nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.87); */
}

.logo {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border-radius: 20px;
    border: 1px solid white;
    border-width: 5px; */
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
}

.navbar-links ul li a {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(222, 188, 238);
}